footer{
    background: var(--color-primary);
    padding: 3rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 7rem;
}

footer a{
    color: var(--color-bg);
}

.links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 1rem;
}

.footer_socials{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 3rem;
    font-size: 1.5rem;
}

/* MEDIA QUERIES (SMALL DEVICE) */
@media screen and (max-width: 600px){
    .footer_socials{
        margin-bottom: 2.5rem;
    }
    
}